@import '../../global.scss';

.navbar {
  width: 100%;
  background-color: $color-dark-blue;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 10;
  &__container {
  }
  &__right {
    display: flex;
  }
  &__image {
    padding-right: 40px;
  }
  &__button {
    display: none;
  }
}

.dropdown {
  width: 300px;
  &__item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  }
  &__title {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 0.6em;
  }
  &__subtitle {
    color: $color-lightest-black;
    font-size: 14px;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 4em;
  left: 0;
  z-index: 20;
  width: 100%;
  &__button {
    background-color: $color-dark-blue;
    padding: 1em 0 1.5em 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & button {
      display: flex;
      align-items: center;
      height: 50px;
      background-color: $color-dark-blue;
      padding: 1em 2em;
      border-radius: 4px;
      box-shadow: 0 4px 8px 0 rgba(20, 56, 102, 0.16);
      border: solid 1.5px $color-white;
      text-transform: uppercase;
      font-size: 0.9em;
      font-weight: 600;
      color: $color-white;
      &:hover {
        background-color: $color-white;
        transition: 0.3s;
        color: $color-dark-blue;
        cursor: pointer;
      }
    }
  }
  &__list {
    background-color: $color-white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & ul {
      list-style: none;
      width: 100%;
      & a {
        text-decoration: none;
      }
    }
    & h1 {
      font-size: 18px;
      font-weight: 800;
      padding: 1em 0 0.6em 1.8em;
    }
    & p {
      color: $color-greyish-black;
      font-size: 14px;
      padding: 0 0 1.5em 2.2em;
    }
    & li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.16);
      &:hover,
      &:focus,
      &:active {
        background-color: $color-light-grey;
      }
    }
  }
}

@media (min-width: 1099px) {
  .navbar__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar__button {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: transparent;
    padding: 1em;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(20, 56, 102, 0.16);
    border: solid 2px $color-white;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    color: $color-white;
    &:hover {
      background-color: $color-white;
      transition: 0.3s;
      color: $color-dark-blue;
      cursor: pointer;
    }
  }
}
.burger-menu {
  margin-right: 1em;
}

@media (min-width: 1099px) {
  .navbar__container {
    padding: 0 4em;
  }
  .mobile-menu {
    display: none;
  }
  .burger-menu {
    display: none;
  }

 
}
@media (min-width: 1200px) {
  .navbar__container {
    width: 1200px;
    margin: 0 auto;
  }
}
