@import '../../global.scss';

.menu {
  width: 100vw;
  height: 64px;
  box-shadow: 0 1px 0 0 #e0e0e0;
  background-color: $color-white;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  &__list {
    display: flex;
    margin-left: 2em;
    & a {
      text-decoration: none;
    }
  }
  &__item {
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.3px;
    color: $color-blue;
    text-transform: uppercase;
    list-style: none;
    padding-right: 2rem;
  }
}

@media (min-width: 1099px) {
  .menu__list {
    margin-left: 4em;
  }
}

@media (min-width: 1200px) {
  .menu__container {
    width: 1200px;
    margin: 0 auto;
  }
}
